button {
  font-family: 'Roboto';
  font-weight: 500;
  color: #7b8794;
  border: none;
  border-bottom: 2px solid #dfe2e5;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 0 1rem;
  cursor: pointer;
}
.active-tab {
  border-bottom: 2px solid #2563eb;
  color: #2563eb;
}
.tab-item {
  list-style-type: none;
}
